### IntelliJ IDEA ###
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf/*
.idea/modules.xml
.idea/libraries/*.xml
.idea/discord.xml
dictionaries/

### Mac OS ###
.DS_Store

### IMPORTANT ###
.env
